@font-face {
  font-family: "Harmond";
  src:
    local("Harmond"),
    url("../assets/fonts/harmond-semibold-condensed.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Metana";
  src:
    local("Neue Metana"),
    url("../assets/fonts/neue-metana-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
